################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Notino/.vs/Notino/v16
/Notino/Notino.API/obj
/Notino/Notino.Common/obj
/Notino/Notino.Data/obj
/Notino/Notino.Services/obj
/Notino/.vs/Notino/config
/Notino/Notino.API/bin/Debug/net5.0
/Notino/.vs/Notino/DesignTimeBuild
/Notino/Notino.Common/bin/Debug/net5.0
/Notino/Notino.Data/bin/Debug/net5.0
/Notino/Notino.Services/bin/Debug/net5.0
